<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vender %><br>
    <%= f.text_field :vender %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :used %><br>    
    <% use_status_codes.each do |option| %>
      <%= f.radio_button :used, option[1] %>
      <%= f.label option[0] %><br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :expire_date %><br>
    <%= f.date_field :expire_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
